.msg-details {
    font-size: 1rem;
    text-align: right;
}

.msg-data {
    overflow-wrap: break-word;
}

.msg-bubble-you {
    background: #42a5f5;
    color: #fff !important;
    border-radius: 20px 20px 3px 20px;
    display: block;
    max-width: 75%;
    padding: 7px 13px;
    margin-bottom: 10px;
}

.msg-bubble-you .msg-details {
    color: rgba(255, 255, 255, 0.7);
}

.msg-bubble-them {
    background: #f1f1f1;
    color: #000 !important;
    border-radius: 20px 20px 20px 3px;
    display: block;
    max-width: 75%;
    padding: 7px 13px;
    margin-bottom: 10px;
}

.msg-bubble-them .msg-details {
    color: rgba(0, 0, 0, 0.7);
}

#sendMsg {
    /*width: 100%;*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left:0;*/
}

#chatInput {
    width: 100%;
    /*display: inline-block;*/
}

label{
    font-size: 19px;
}

/*button{*/
/*    align-self: flex-end;*/
/*}*/

#chat-container {
    overflow-y: auto;
    margin-top: 20px;
    height: 65vh;
    overflow-x: hidden;
}

#chat-container::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

#chat-container::-webkit-scrollbar-thumb {
    background-color: red;
    border-radius: 10px;
}

#chat-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#subForm {
    align-self: flex-end;
}
