<div *ngFor="let msg of messages">
    <!--    <span>{{msg.name === username ? 'You' : msg.name}}: </span>-->
    <!--    <span>{{msg.message}} {{msg.timestamp}}</span>-->
    <div [className]="msg.name === username ? 'msg-bubble-you' : 'msg-bubble-them'">
        <span class="d-block msg-data">{{msg.message}}</span>
        <span class="d-block msg-details">{{msg.name === username ? 'You' : msg.name}} - {{msg.timestamp}}</span>
    </div>
</div>
<div id='sendMsg'>
    <label>
        <input [(ngModel)]="msg" (keyup)="$event.key == 13 && sendMessage()">
    </label>
    <button class='btn btn-danger' (click)="sendMessage()">
        <fa-icon [icon]="faPaperPlane"></fa-icon>
    </button>
</div>
