.msg-details {
    font-size: .5rem;
    text-align: right;
}

.msg-data {
    overflow-wrap: break-word;
}

.msg-bubble-you {
    background: #42a5f5;
    color: #fff !important;
    border-radius: 20px 20px 3px 20px;
    display: block;
    max-width: 75%;
    padding: 7px 13px;
    margin-bottom: 10px;
}

.msg-bubble-you .msg-details {
    color: rgba(255, 255, 255, 0.7);
}

.msg-bubble-them {
    background: #f1f1f1;
    color: #000 !important;
    border-radius: 20px 20px 20px 3px;
    display: block;
    max-width: 75%;
    padding: 7px 13px;
    margin-bottom: 10px;
}

.msg-bubble-them .msg-details {
    color: rgba(0, 0, 0, 0.7);
}
