#profileImg {
    margin: 0 1rem;
}
.card {
    margin: 20px, auto;
    height: auto;
    width: 60%;
}

@media (max-width: 1024px){
    .card{
        width: 97%
    }
}

@media (max-width: 768px){

}